i {
    font-size: 48px;
}
.twicon-main-island{
    color: #6EAC7D;
}
/* 每一個有box-id屬性的 */
[box-id]{
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s;
    border: 1px dashed #6EAC7D;
}
[box-id] p{
    margin: 0;
}

[box-id].active{
    border: 3px solid #00000020;
    box-shadow: 0 0 20px #00000050;
    transition: 0s;
}

#msg{
    font-size: 36px;
    text-align: center;
}
.btnArea button{
    height: fit-content;
}        
#home{
    border: 1px solid #aaa;
    padding: 8px;
    border-radius: 50%;
    position: fixed;
    bottom: 15px;
    right: 30px;
}
#home i{
    font-size: 18px;
    color: #888;
}
#home:hover{
    background-color: #eee8;
}
#home:hover i{
    font-size: 22px;
}