body{
    background-image: radial-gradient(#bfc0c1 7.2%, transparent 0);
    background-size: 25px 25px; 
    font-family: 'Gochi Hand', cursive;
}

input{
    background-color:transparent;
    border: solid 1px transparent;
    border-bottom: dashed 3px #a39bd2;
    padding: 5px;
}
h1{
    background-color: #a39bd260;
    width: fit-content;
}
li{
    margin-top: 15px;
    position: relative;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}
input[id*="todoItem"] 
{
    text-align: center;
    font-weight: bolder;
    line-height: inherit;
}
.line{
    display: none;
    position: absolute;
    top: 50%;
    left: 5%;
    background-color: #a39bd2;
    width: 180px;
    height: 2px;
}
[type='checkbox']:checked ~ .line{
    display: block;
}
@media screen and (max-width:767px){
    .line{
        position: absolute;
        top: 50%;
        left: 3%;
    }
}
@media screen and (min-width:992px) and (max-width:1200px){
    .line{
        position: absolute;
        top: 50%;
        left: 3%;
    }
}
